<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Top Pandas Functions

In [1]:
import pandas as pd

#### Import CSV with `pd.read_csv()`

In [3]:
iris = pd.read_csv('./iris.csv')

#### Explore your data

In [4]:
iris.shape

(150, 5)

In [7]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
iris.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

#### Datatypes

In [8]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

#### Subsetting your data with `loc` & `iloc`

In [10]:
iris.loc[130:140]

     sepal_length  sepal_width  petal_length  petal_width    species
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica

In [12]:
iris.loc[130, 'sepal_length']

7.4

In [13]:
iris.iloc[130, 0]

7.4

difference between `loc` and `iloc` is `loc` uses rows and column names while `iloc` uses indices for both row and columns.

#### Export your data as csv using `to_csv`

In [19]:
iris.to_csv('iris-output.csv',index=False)