<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Data Types

In [1]:
import pandas as pd

In [2]:
planets = pd.read_csv('planets.csv')

In [3]:
planets.head(3)

            method  number  orbital_period  mass  distance  year
0  Radial Velocity       1         269.300  7.10     77.40  2006
1  Radial Velocity       1         874.774  2.21     56.95  2008
2  Radial Velocity       1         763.000  2.60     19.84  2011

In [4]:
planets.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [6]:
planets.iloc[:,1:].mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [8]:
planets['number'][0:3]/planets['mass'][0:3]

0    0.140845
1    0.452489
2    0.384615
dtype: float64

In [9]:
planets['number'][0].astype(float)

1.0

In [10]:
planets['mass'][0].astype(int)
# note not a rounded value

7

In [11]:
planets['year'][0].astype(str)

'2006'

In [12]:
planets['year_dt'] = pd.to_datetime(planets['year'], format='%Y')
planets['year_dt']

0      2006-01-01
1      2008-01-01
2      2011-01-01
3      2007-01-01
4      2009-01-01
          ...
1030   2006-01-01
1031   2007-01-01
1032   2007-01-01
1033   2008-01-01
1034   2008-01-01
Name: year_dt, Length: 1035, dtype: datetime64[ns]